body, html {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

.image-one, .image-two, .image-three {
    background-image: url("images/image1.jpg");
    height: 100%;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-one {
    background-image: url("images/image1.jpg");
    min-height: 100%;
}

.image-two {
    background-image: url("images/image2.jpg");
    min-height: 400px;
}

.image-three {
    background-image: url("images/image3.jpg");
}


.ptext {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

h2 {
    text-align: center;
}

